{% extends 'base.html' %}
{% block content %}
    <!--  -->
    <h3 class="text-center mt-4">Listagem de sprints</h3>
    <h4 class="mt-5">Total de sprints: {{ sprints_count }}</h4>
    <br>
    <table class="table">
        <thead class="thead-dark">
            <th>Nº sprint</th>
            <th>Inicio</th>
            <th>Fim</th>
            <th>Pontos totais</th>
            <th>Ativa?</th>
        </thead>
        <tbody>
            {% for sprint in object_list %}
                <tr>
                    <td width="10%"><a href='{{ sprint.get_absolute_url }}'>{{ sprint.number }}</a></td>
                    <td>{{ sprint.start_date|date:"d/m/Y" }}</td>
                    <td>{{ sprint.end_date|date:"d/m/Y" }}</td>
                    <td>{{ sprint.total_points }}</td>
                    <td>{% if sprint.active %}Sim{% else %}Não{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!--  -->
{% endblock %}