{% extends 'base.html' %}
{% block title %}Lista de histórias{% endblock %}
{% block content %}
    <!--  -->
    <h3 class="text-center mt-4">Listagem de histórias</h3>
    <div class="form-inline mt-5">
        <div class="form-group">
            <label for="points-filter-select" class="control-label"><b>Filtrar por pontos de história:</b></label>
            <div class="col-sm-3">
                <select id="points-filter-select" class="form-control">
                    <option value="0">-----</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="8">8</option>
                    <option value="13">13</option>
                    <option value="21">21</option>
                </select>
            </div>
            <button id="points-filter-button" class="btn btn-dark">Filtrar</button>
        </div>
    </div>
    <br>
    {% if duration_average %}
        <div class="container d-flex justify-content-center">
            <h4>Média de duração para {{ points }} pontos: {{ duration_average }}</h4>
            <br>
        </div>
    {% endif %}
    <br>
    <table class="table">
        <thead class="thead-dark">
            <th class="text-center">Sprint início</th>
            <th class="text-center">Sprint fim</th>
            <th>Descrição</th>
            <th class="text-center">Pontos início</th>
            <th class="text-center">Pontos final</th>
            <th class="text-center">Duração</th>
            <th class="text-center">Concluída?</th>
        </thead>
        <tbody>
            {% for story in object_list %}
                <tr>
                    <td class="text-center" width="7%"><a href='{{ story.creation_sprint.get_absolute_url }}'>{{ story.creation_sprint.number }}</a></td>
                    <td class="text-center" width="7%"><a href='{{ story.end_sprint.get_absolute_url }}'>{{ story.end_sprint.number }}</a></td>
                    <td><a href='{{ story.get_absolute_url }}'>{{ story.description }}</a></td>
                    <td class="text-center">{{ story.initial_points }}</td>
                    <td class="text-center">{{ story.endpoints }}</td>
                    <td class="text-center">{{ story.duration }}</td>
                    <td class="text-center">{{ story.is_completed }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <ul class="pagination">
        <div class="container d-flex justify-content-between">
            <li class="mt-2 mr-5">
                <span><b>Página {{ object_list.number }} de {{ object_list.paginator.num_pages }}</b></span>
            </li>
            <div class="row">
                {% if object_list.has_previous %}
                    <li>
                        <span title="Página anterior"><a class="btn btn-dark mr-1" href="?page={{ object_list.previous_page_number }}{% if points  %}&points={{ points }}{% endif %}"><b><</b></a></span>
                    </li>
                {% else %}
                    <li>
                        <span><button class="btn btn-dark mr-1" href="#" disabled><b><</b></button></span>
                    </li>
                {% endif %}
                {% if object_list.has_next %}
                    <li>
                        <span title="Próxima página"><a class="btn btn-dark" href="?page={{ object_list.next_page_number }}{% if points %}&points={{ points }}{% endif %}"><b>></b></a></span>
                    </li>
                {% else %}
                    <li>
                        <span><button class="btn btn-dark" href="#" disabled><b>></b></button></span>
                    </li>
                {% endif %}
            </div>
        </div>
    </ul>
    <!--  -->
{% endblock %}

{% block script %}
    <script>
        $("#points-filter-button").click(function(){
            var path = window.location.pathname;
            var host = window.location.host;
            var points = $("#points-filter-select").val();

            if(parseInt(points) > 0){
                window.location = 'http://' + host + path + "?points=" + points;
            }
            else if (parseInt(points) == 0){
                window.location = 'http://' + host + path;
            }
        });
    </script>
{% endblock %}