{% extends 'base.html' %}
{% block title %}Lista de histórias{% endblock %}
{% block content %}
    <!--  -->
    <h3 class="text-center mt-4">Listage de histórias</h3>
    <div class="form-inline mt-5">
        <div class="form-group">
            <label for="points-filter-select" class="control-label"><b>Filtrar por pontos de história:</b></label>
            <div class="col-sm-3">
                <select id="points-filter-select" class="form-control">
                    <option value="0">-----</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="8">8</option>
                    <option value="13">13</option>
                    <option value="21">21</option>
                </select>
            </div>
            <button id="points-filter-button" class="btn btn-dark">Filtrar</button>
        </div>
    </div>
    <br>
    {% if duration_average %}
        <div class="container d-flex justify-content-center">
            <h4>Média de duração para {{ points }} pontos: {{ duration_average }}</h4>
            <br>
        </div>
    {% endif %}
    <br>
    <table class="table">
        <thead class="thead-dark">
            <th>Nº sprint</th>
            <th>Descrição</th>
            <th>Pontos início</th>
            <th>Pontos final</th>
            <th>Duração</th>
            <th>Concluída?</th>
        </thead>
        <tbody>
            {% for story in object_list %}
                <tr>
                    <td width="10%"><a href='{{ story.sprint.get_absolute_url }}'>{{ story.sprint.number }}</a></td>
                    <td><a href='{{ story.get_absolute_url }}'>{{ story.description }}</a></td>
                    <td>{{ story.initial_points }}</td>
                    <td>{{ story.endpoints }}</td>
                    <td>{{ story.duration }}</td>
                    <td>{{ story.is_completed }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!--  -->
{% endblock %}
{% block script %}
<script>
    $("#points-filter-button").click(function(){
        var points = $("#points-filter-select").val();
        console.log(points);
        if(parseInt(points) > 0){
            window.location = "http://localhost:8000/story/?points=" + points;
        }
        else if (parseInt(points) == 0){
            window.location = "http://localhost:8000/story/";
        }
    });
</script>
{% endblock %}