{% extends 'base.html' %}
{% block title %}Detalhes da história {{ object.code }}{% endblock %}
{% block content %}
    <h3 class="text-center mt-4">História <b>{{ object.code }}</b> de {{ object.creation_date|date:"d/m/Y" }} - Sprint {{ object.end_sprint.number }}</h3>
    <div class="d-flex justify-content-center">
        <b>({% if object.completed %}Concluída{% else %}Em aberto{% endif %})</b>
    </div>
    <div class="container mt-5">
        <div class="d-flex justify-content-between row">
            <div class="col-3 d-flex justify-content-center">
                <div class="form-group">
                    <label for="initial_points"><b>Pontos iniciais:</b></label>
                    <input id="initial_points" type="text" value="{{ story.initial_points }}" class="form-control" readonly>
                </div>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <div class="form-group">
                    <label for="endpoints"><b>Pontos finais:</b></label>
                    <input id="endpoints" type="text" value="{{ story.endpoints }}" class="form-control" readonly>
                </div>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <div class="form-group">
                    <label for="duration"><b>Duração:</b></label>
                    <input id="duration" type="text" value="{{ story.duration }}" class="form-control" readonly>
                </div>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <div class="form-group">
                    <label for="responsible"><b>Responsável:</b></label>
                    <input id="responsible" type="text" value="{{ story.responsible.name }}" class="form-control" readonly>
                </div>
            </div>
        </div>
    </div>
    <div class="container story-description-container d-flex justify-content-center mt-4 mb-3">
        <p class="text-justify col-8 text-center"><q>{{ story.description }}</q></p>
    </div>
    <div class="container story-description-container d-flex justify-content-center mt-4 mb-4">
        <a class="btn btn-dark mr-3 col-3" href="#" data-toggle="modal" data-target="#story-repoint">Repontuar</a>
        <button class="btn btn-dark ml-3 col-3" href="#" data-toggle="modal" data-target="#story-extend-sprint" {% if story.completed %}disabled{% endif %}>Prorrogar</button>
        <button class="btn btn-dark ml-3 col-3" href="#" data-toggle="modal" data-target="#story-conclude" {% if story.completed %}disabled{% endif %}>Concluir</button>
    </div>
    
    <h4 class="text-center">Principais tipos de tarefa da história:</h4>
    <table class="table mt-3">
        <thead class="thead-dark">
            <th>Descrição</th>
            <th>Tipo</th>
            <th>Área</th>
        </thead>
        <tbody>
            {% for task in story_task_types %}
                <tr>
                    <td>{{ task.task_type.description }}</td>
                    <td>{{ task.task_type.title }}</td>
                    <td>{{ task.task_type.get_development_area_display }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal para repontuação da história -->
    <div class="modal fade" id="story-repoint" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <form method="POST" action="{% url 'sprint-repoint' pk=object.pk %}" class="form-inline">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Repontuar história {{ object.code }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="text-center"><b>Pontos finais atuais: {{ object.endpoints }}</b></p>
                        <div class="d-flex justify-content-center">
                            <div class="form-group">
                                <label for="endpoints" class="label-control">Novos pontos:</label>
                                <div class="col-sm-5">
                                    <select id="endpoints" class="form-control" name="endpoints">
                                        <option value="0">-----</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="5">5</option>
                                        <option value="8">8</option>
                                        <option value="13">13</option>
                                        <option value="21">21</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark">Enviar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Fim do modal para repontuação da história -->

    <!-- Modal para prorrogar história -->
    <div class="modal fade" id="story-extend-sprint" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <form method="POST" action="{% url 'extend-story' %}" class="form-inline">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Prorrogar história {{ object.code }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="text-center"><b>Sprint atual: {{ object.end_sprint.number }}</b></p>
                        {% if sprints_to_extend %}
                                <div class="d-flex justify-content-center">
                                    <div class="form-group">
                                        <input id="story" type="hidden" name="story" value="{{ object.pk }}">
                                        <label for="sprint" class="label-control">Nova sprint: </label>
                                        <div class="col-sm-5">
                                            <select id="sprint" class="form-control" name="sprint">
                                                <option value="">-----</option>
                                                {% for sprint in sprints_to_extend %}
                                                    <option value="{{sprint.pk}}">Sprint {{sprint.number}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            <br>
                        {% else %}
                            <br>
                            <h4 class="text-center text-danger">Não há sprints futuras para prorrogar</h4>
                            <br>
                        {% endif %}
                        <div class="modal-footer">
                            {% if sprints_to_extend %}<button type="submit" class="btn btn-dark">Enviar</button>{% endif %}
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Fim do modal para prorrogar história -->

    <!-- Modal para completar história -->
    <div class="modal fade" id="story-conclude" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <form method="POST" action="{% url 'complete-story' %}" class="form-inline">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Completar história {{ object.code }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                        <input id="story_pk" type="hidden" name="story_pk" value="{{ object.pk }}">
                                        
                        <br>
                        <h4 class="text-center">Deseja completar a História {{ object.code }}?</h4>
                        <br>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-dark">Confirmar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Fim do modal para completar história -->
{% endblock %}