{% extends 'base.html' %}
{% block content %}
    <!--  -->
    <h3 class="text-center mt-5">História <b>{{ object.code }}</b> de {{ object.creation_date|date:"d/m/Y" }} - Sprint {{ object.sprint.number }}</h3>
    <div class="container mt-5">
        <div class="d-flex justify-content-between row">
            <div class="col-4 d-flex justify-content-center">
                <div class="form-group">
                    <label for="points"><b>Pontos:</b></label>
                    <input id="points" type="text" value="{{ story.points }}" class="form-control" readonly>
                </div>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <div class="form-group">
                    <label for="duration"><b>Duração:</b></label>
                    <input id="duration" type="text" value="{{ story.duration }}" class="form-control" readonly>
                </div>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <div class="form-group">
                    <label for="responsible"><b>Responsável:</b></label>
                    <input id="responsible" type="text" value="{{ story.responsible.name }}" class="form-control" readonly>
                </div>
            </div>
        </div>
    </div>
    <div class="container story-description-container d-flex justify-content-center mt-4 mb-3">
        <p class="text-justify col-8"><q>{{ story.description }}</q></p>
    </div>
    <h4 class="text-center">Principais tipos de tarefa da história:</h4>
    <table class="table mt-3">
        <thead class="thead-dark">
            <th>Descrição</th>
            <th>Tipo</th>
            <th>Área</th>
        </thead>
        <tbody>
            {% for task in story_task_types %}
                <tr>
                    <td>{{ task.task_type.description }}</td>
                    <td>{{ task.task_type.title }}</td>
                    <td>{{ task.task_type.get_development_area_display }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!--  -->
{% endblock %}